# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
node_modules/
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# 项目特定
logs/
*.log
.env
.env.*
!.env.example

# 其他
.DS_Store
Thumbs.db 
sqlite*.db
train/datasets
train/origin_data
train/runs
train/yolo11n.pt
train/best.onnx
.run
datasets
train/siamese/datasets
train/siamese/model_data
train/pairs/
test.json
.claude
src/server.build/
src/server.dist/
